@import "@/pages/base.less";

.layout {
    border-radius: @border-radius;
    overflow: 'hidden';
    //   width: calc(50% - 8px);
    //   max-width: calc(50% - 8px);
    border: solid 1px #ccc;
}

.header {
    text-align: center;
    color: #fff;
    height: @header-height;
    padding-inline: @header-padding;
    line-height: @header-height;
    background-color: #111111;
}

.content {
    // text-align: center;
    min-height: @min-height;
    // line-height: 120px;
    // color: #fff;
    // background-color: #111111;
}

.sider {
    // text-align: center;
    // line-height: 120px;
    // color: #fff;
    // background-color: #fff;
    padding: @sider-padding;

    // width: 300px;
}